.center {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
}

@each $direction in left, right {
    .float-#{$direction} {
        float: $direction;
    }
}

.flex {
    display: flex;
}

@mixin flexMiddle {
    align-items: center;
}

@mixin flexCenter {
    justify-content: center;
}

.flex-middle {
    @extend .flex;
    @include flexMiddle();
}

.flex-center {
    @extend .flex;
    @include flexCenter();
}

.flex-center-middle {
    @extend .flex;
    @include flexMiddle();
    @include flexCenter();
}

.flex-justify-between {
    @extend .flex;
    @include flexMiddle();
    justify-content: space-between;
}

@each $position in center, left, right {
    .text-#{$position} {
        text-align: $position;
    }
}

.block-center {
    margin: auto;
}

.pointer {
    cursor: pointer;
}

@mixin marginPadding($style, $size, $direction) {
    #{$style}#{$direction}: #{$size}px !important;
}

@each $type, $style in ('m': 'margin', 'p': 'padding') {
    @each $key,
        $direction
            in (
                '': '',
                't': '-top',
                'r': '-right',
                'b': '-bottom',
                'l': '-left'
            )
    {
        @each $suffix, $size in ('': 16, '-0': 0, '-8': 8, '-16': 16) {
            .#{$type}#{$key}#{$suffix} {
                @include marginPadding($style, $size, $direction);
            }
        }
    }
}
