.center {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
}

@directionList: left, right;

each(@directionList, .(@direction) {
    .float-@{direction} {
        float: @direction;
    }
});

.flex {
    display: flex;
}

.flex-middle {
    align-items: center;
}

.flex-center {
    justify-content: center;
}

.flex-middle {
    .flex();
    .flex-middle();
}

.flex-center {
    .flex();
    .flex-center();
}

.flex-center-middle {
    .flex();
    .flex-middle();
    .flex-center();
}

.justify-between {
    justify-content: space-between;
}

.flex-justify-between {
    .flex();
    .flex-middle();
    .justify-between();
}

@textDirections: center, left, right;

each(@textDirections, {
    .text-@{value} {
        text-align: @value;
    }
});

.block-center {
    margin: auto;
}

.pointer {
    cursor: pointer;
}

.mpType() {
    m: margin;
    p: padding;
}

.directionList() {
    t: -top;
    r: -right;
    b: -bottom;
    l: -left;
}

@mpSize: 0, 8, 16;

each(.mpType(), .(@type, @prefix) {
    each(.directionList(), .(@direction, @suffix) {
        .@{prefix}@{suffix} {
            @{type}@{direction}: 8px!important;
        }
    });
    each(@mpSize, {
        .@{prefix}-@{value} {
            @{type}: @value + 0px!important;
        }
        each(.directionList(), .(@direction, @suffix) {
            .@{prefix}@{suffix}-@{value} {
                @{type}@{direction}: @value + 0px!important;
            }
        });
    });
});

each(range(3), {
    .b-@{value} {
        border: @value + 0px solid @border-color-base;
    }
    each(.directionList(), .(@direction, @suffix) {
        .b@{suffix}-@{value} {
            border@{direction}: @value + 0px solid @border-color-base;
        }
    })
});

.has-error {
    .ant-upload {
        border-color: #e63946;
    }
}

.full-height {
    height: 100%;
}

.overflow-hidden {
    overflow: hidden;
}

.overflow-auto {
    overflow: auto;
}

.overflow-y-auto {
    overflow-y: auto;
}

.overflow-x-auto {
    overflow-x: auto;
}
